{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2022-01-18T16:24:08+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  147891
//      Project:        310
//      Environment:    1410 - qa-testing
//      MD5:            b16a30c3df5abe1df92fc27cc09f3031
//      Signature:      eyJpdiI6ImhWVzBCbW9CeEY2SDVYK0J0ZWVxY1E9PSIsInZhbHVlIjoiczdXN3pPZlc1N29UUzVjRjQ4RGFZUjlYaUViQ2hvR1RscTlSZ0lpTEs3cFJ3UmcyXC9RRkhkbXorV2NpeW13MjFPeWFHMnNXcEtYNndGbjI4ZnI5d1wvNVZQajhPVTNHdFhTazdOelRFdDhuRWtlTmZsc1FoT3ZEYlJDTmR6Sm5tM2xjSjZjcDJEemNrUkoycnV3OVhSWER5VVBrblwvb3VVR0t6TFVBenFINHphekZhKzhKVW80Z250dmVMNHNkTXNSODBVRk45cG10TjJ0ZnMrSVREblpLRzRjSTBaM1hFQ0ZJZVVXRzE1UDJaSm1mMG1nbWNpSkltM0IwazNtOWd6bFBpUHhBWUI3SHpGYUpTcWl1RzBQWkdiRHh3VER0UVJCV29FRENobmNYTjgwVkdGN25ESzFMd2FBdVc2NUZpYnRuMUJzSGlvQUZxeVVFRzVWSlRxY1JhU0tQTld3cjVmWDBHRU4yV3VtdzFQS01HUlwvMDM5ZFlqKytLZlFkMVBXeFdPNW1LbnA0WGJ0NmRLRHQwckdLaVE9PSIsIm1hYyI6IjRmOTI4ZWVkMDBkZjc2OWIxMjkxMTI2M2M3NjMyNTRlMDg2N2NhOTdmZjY0ZDEyZmNkMGQyZGUxZTdjYmUzODYifQ==
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<div class="cart__sticky grid--gutterless Fixed grid large--hide flex">
<div class="one-half cart__sticky__total">
	<p class="spacing-text m-b-0">TOTAL</p>
	<div class="product__title-price cart__summary-value p-b-0">
	    <div class="product__price">
	    	<p id="cart-sticky-price" class="product-price">{{ cart.total_price | money }}</p>
	    </div>
	</div>
</div>
<div class="one-half flex flex-center">
	<a href='/checkout' class="main-button">CHECKOUT</a>
</div>
</div>