{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2022-01-18T16:24:42+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  147891
//      Project:        310
//      Environment:    1410 - qa-testing
//      MD5:            bfa6043eca93f01578880d5f1318283a
//      Signature:      eyJpdiI6IlZaQ0N4dGExd0N2OFlybEVVcmZoVHc9PSIsInZhbHVlIjoiYkVlQ1NMWU1oXC9FcFJYc0RBeG5LVzdqTGNuUWRKRGlpYThac1cyZEpYcHJFVGpITG5lUTlFNUp6M2JNRXVDT0t5NytSZzBKZTV2OStvY2JtZU1GRU9Hb3hlRjY5WGtxQ0RXZUNUd2puRk9zdGNKUjBBZ3BGbGJtQ3hpQ0pGWTI1alhGZ3ErRGp0em1IaDk4cElqRVpxRWRVVTd5XC9WT25JNzhZVjg4XC9HUE02MnBCM05tMlJHUXdGSzZ6SXkxNXJ4c0FyZlJ3Q3pBaExtanpWRWxGelFYVTZKVEswbHFFYkFIeDE1cVRJbWtFTXE0OG9DYk5RN3IyVHc4eE9Pd1RRVzg2eXJ4cFVHZUUzWEd4MEVBcUdWdmR5WURLbzVDYkFFWmdoSnM3RzVPYldoOVwvTWN3b0lcL1VTVkJWTFJORTBVUjRvdGlZWG9nNUZrZGtRa2luc3VINnVSOEh0d0lhMmlRRzFKSHZFM1hQNjE0b0tcL0NiMDlPa3JIUUFCSnZNN1hyZEsxOG9BNkFDTDNpT0RSaklqS2FKNXNnYnhFRlNtTmlzNEs2ZnA5ek5rST0iLCJtYWMiOiI4MmU1Y2YwMGIyNTA2NzQ4NDRhOTNjYTY4NzEwNzc0MWM1MGM0ZDNlYzEzYjBiODNhZjlhNWMyZjBmMDZlM2M3In0=
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<div class="video-switch article-content block-video content-block__close">
	<div class="video-switch-play block-video__play">
		{% include 'play-icon' %}
	</div>
	<video>
		<source src="{{video_array[video_index]}}" type="video/mp4">
	</video>
</div>