<form action="/search" method="get" class="site-header__search" role="search">
  <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="search" aria-label="Site search">
  <button type="submit" aria-label="header-search">{% render 'search-icon' %}</button>
</form>