{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2022-01-18T16:24:16+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  147891
//      Project:        310
//      Environment:    1410 - qa-testing
//      MD5:            5277d43ca92b6cea715abdb060bd9b77
//      Signature:      eyJpdiI6InQ5ZVFoSTVXaXZoN3l1QWxFckk4b0E9PSIsInZhbHVlIjoickdDYlFFdVNHV1JEQmJNamFLRlwvelEyMjVlMm5OUkdqbXdjbnZtUDFJeUNtSzdaK3RxSDdOMmpPRE9WRnlQTzc0V29jODZyQ1BPMUQzT2ZXMitobE4raTB0OXBFNXV0MUJRTUxDaDhsTlI0Y3NVZjJzNFVhek5LQVFzOGJXVzZ1TVFoTlwvc3E1aGI5UlVTQ25jdGZEbis0enltczRIYmlra2tJM3pqR2pmUGF5UjVSTjNzOW56S1pJZFFINm5KQ2FQV3JwaHR3dnJ1SjhIeW5zS3M1VkRmZGRiSGhGXC9ueHZOU0h2VjhncFwvbTM1V2FcLzUrejRqMGF6ek9DRk9Zd2d3YkIzbmIxREJwS0FHUWczWjc0XC9Nd3VjMUhKWjlQOUJ5RnpTSTdtR2V5dXVycUhRQUVsNmNJOUpKc3prcDdNXC82XC9BNWdiV2g5SStGNm1zRzg2UGxBcHg0K0RORThHR0dyd2xQWStsd0N4NEk0T3RaaGZ3RkFEQkQxczZVUlVmRElmb3ZhTlp4cGNJRkluYzRkWk9NbTJpZzVcL0grdFlRNk1SYWZYb1JxbHJ2cz0iLCJtYWMiOiIyMjU2MGQ5ZDllMjk1NzdhNDc0YjAzZjkwNTQ3YmE0NThhZTk0OTEwYzJlNWE0OWNjZjdhYzdlYThjYjhiZTJiIn0=
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<!-- Begin MailChimp Signup Form -->
<!-- <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> -->

{% if settings.footer_newsletter_enable %}
<div id="mc_embed_signup">
<form action="{{ settings.newsletter_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
   <div id="mc_embed_signup_scroll">
    <div class="mc-field-group">
        <div class="input-group">
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter email address here">
          <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
    </div>
    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>   
     <!-- For bot spam check -->
     <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_02804a34ebbf4732080617b1c_f50ad6c675" tabindex="-1" value=""></div>
     <div class="clear"></div>
   </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
{% endif %}