<a href="/" itemprop="url" title="{{ shop.name }}" class="site-header__logo-link-image">

	<img class="site-header__logo-image desktop-logo" src="{{ settings.custom_logo | escape }}" width="60" height="60" alt="{{ shop.name }}"/>
	<img class="site-header__logo-image mobile-logo" src="https://cdn.shopify.com/s/files/1/1230/4400/files/esl-horizontal-logo-olive.svg?v=1771713619" width="60" height="60" alt="{{ shop.name }}"/>

</a>