<div class="newsletter grey-section-bg">

	<div class="wrapper">
  
	  	<div class="flex flex-wrap flex-center">
  
			<div class="newsletter__content one-half small--one-whole medium--one-whole">

				{% unless section.settings.title == blank %}
					<h4 class="newsletter__content-title">{{ section.settings.title }}</h4>
				{% endunless %}
		
				{% unless section.settings.paragraph == blank %}
					<div class="newsletter__content-text">{{ section.settings.paragraph | newline_to_br }}</div>
				{% endunless %}
	
			</div>

			<div class="newsletter__form-container one-half small--one-whole medium--one-whole">
				{% comment %} Form here {% endcomment %}

        <div class="klaviyo-form-YcSpem"></div>

			</div>

		</div>
  
	</div>
  
</div>

{% schema %}
{
  "name": "Newsletter",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Sign up to our newsletter"
    },
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "Paragraph",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing <br>elit. Donec molestie in tortor a maximus.</p>"
    }
  ],
  "presets": [
    {
      "name": "Newsletter",
      "category": "Newsletter"
    }
  ]
}
{% endschema %}