<section class="wrapper">

</section>

{% schema %}
    {
        "name": "Trustpilot Container",
        "class": "trustpilot--container wrapper",
        "presets": [
          {
            "name": "Trustpilot Container",
            "category": "Custom"
          }
        ]   
    }
{% endschema %}
