{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2022-01-18T16:25:07+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  147891
//      Project:        310
//      Environment:    1410 - qa-testing
//      MD5:            8fd52a0da9702f47d5237b15339f19e4
//      Signature:      eyJpdiI6IjJpdVFSTUFSXC9uOUFaV2xQbUxzU2RRPT0iLCJ2YWx1ZSI6IkZ6ZmJVNGI4UzdWRVZLYVpTUkk5VXhmejhhc3JNd2RUd2NKQVpyZWQxV3VJeFVMZ3p3bEs2cmRMbmgwZ1RcL01yUGxqdUM4MlFobGJ0UkNGbm9MRXZzXC9lTG5RbHBzSmo4MUdPODd6dmhcL3dcL0tJVmdJXC9XSjBHcVBrejNKa0NSeDMzMFZsRzNGM0N3aFNtWHpxcldnQ2hsbTd5TndFbkUreHJ4U2xmTlQyQ2lwYlFuUzZNQ1pnUnJ4YUJGdnZGVEhFT0JuRUhhdXEwTW5ESGp1ZVQxUWVzc3gra3Rwb0RFb1VMRmxkazZjRUJqbUdKbE5VZVBrMFNRalRPcDJBdkMzekdvZ2w0T01aTWgydlhZK0hHRkExSkN2RzRiU3hJVlRrZGQwRTA0NmhyTGxqdzkzNzExTDFqTVFxUnVPcUp2U0d4T3dZZ05mVzl1RzFaZ3hQYU5FWERTaCtCXC9LXC9EVFJJTDBQa3dsRHRQcDZoTzJXT0pwcXo3b0hTWTNBZEdvU2ErYlpmU0xSNkhqeEVkZnFHQ2JEMDNRPT0iLCJtYWMiOiJhMzk3ZTA1NjlkNDE0ZjBlMzdlOGVjYzI2N2IxNzk5NTJmMTEwYWE4ZGQ4MTQ1NDQ5NDQzY2M3Mjc1NTU4YTVkIn0=
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<!-- /templates/404.liquid -->
<div class="wrapper">
<h1>{{ 'general.404.title' | t }}</h1>
<p>{{ 'general.404.subtext_html' | t }}</p>
</div>
