{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2022-01-18T16:25:08+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  147891
//      Project:        310
//      Environment:    1410 - qa-testing
//      MD5:            ee5937d5d0e21fae1224a82ff8c4561a
//      Signature:      eyJpdiI6IkpLcUNXd2VvVE5IT3hXbGRJS3VSRHc9PSIsInZhbHVlIjoiQ09WM1ZJU2tBNHoxOWYxMEhVTHQ0YXNTdHFCMExxdlhHXC9raGp6QmpNZ2xnbDJkWDg3aURhcUdvakxCQ3BkWCtCaW50MGVwXC84WDBCWGk0blNpaHRqZFlLZTNYa2E4aCtzZFR4TUtTNjZvcjJlTUNUcjJhTW9XOWphUlhPK0NrMXhtTUxoS08rbGt3WFM3TkZRSGtIbElTb0d3ZTIzbzBvZEtld2NEQTJqMzJwREZcLzB2UkJTU0NyYkI5eElKTE1la2dtSG1CR3laYVhmclArSXNzYVdJditTb1RLSzErXC8wKzN4MUJ0cXN2bDVrMkk2WWduVnVuS01BcFpzT3hHXC9XajFnMlFGWnhJSGZGWG5Gb2hSWXhXSFdncjBxYW9oNVZMbHM5ZExydyt0YzdcL01xZ21hZGo2WDVMNENGc01TZXVrRFd0NEVkalVqa0hGOXpRdVBNRjRBaVBvTWVCWDlCenkrVlBWNEhSR0s0OWhwUHpnZGtERklPMXF1bEp0TWlaRGJHZnlDM1pmXC9pK2VtRVczZmwzdGc9PSIsIm1hYyI6ImNiMzVlNGZmZjZiZjczY2IzZjYzMDJiZjM4NjEyMGI4NTNhMTBlNjgxYjFlYTE3MTJlZTU4YWQ1Y2NkMTkzZmMifQ==
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<div class="about-us">
{% section 'page-template' %}
</div>