{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2022-01-18T16:25:17+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  147891
//      Project:        310
//      Environment:    1410 - qa-testing
//      MD5:            ee5937d5d0e21fae1224a82ff8c4561a
//      Signature:      eyJpdiI6IlkxZnZOQnNMOVp4UGdpMmg1SHVBOXc9PSIsInZhbHVlIjoiUGdaT25pdndKbFIxcUFGZThQME96dytmMlU3VzVjRFFYb0IzRzU1XC9lazNcL3NzaE9MNUM2bHllWkJwNjdsQmtVOFQ5TUdDc2xYZnYwN0NpQlNOM2lIYzBtZFE4dWhpaVk0Z2hJVHRqSG1FblpDeGprVlVheFRSN09RVjVFTDc3VUhzRmJ1cXUyMlpUMStuaHQraEp6ZHVXcEptbTZrMWZMZUR3RDdVYTl5ZHJYTlRaeHB4c3F1M0loOXJualVicjRsNWIxUW1tZXZON0J3MDNkY1ZoK2hQVFp4WXdIcFNUdk1BdTNTXC94aTU0XC9HWExcL2N2WW9XRTV5ejlOK3B6NnBhSG1LaURcL0JBcGtOdVJSU2dsRnMwc0xCV2dtXC9LRis2VEVteHk5Y3o3V1NlZW0rTDZBSm96WnFNVlVOQlVIQ1EwSTZcL2o3cFRHV1g0amV4c2dNVnpnZldydWZJbUdBUzlzNVh1ZUdQMlYxQXR4Mng1N3VQbkFYU3N1dGFVNmdVTlhsd2c3b3Ara0ZVMmpjRkNsUVdvTW5udmxTU1wvaitENEUyc2xDanZjcVlUcz0iLCJtYWMiOiI2YzQ0ZGE3ZWY2OGI3MzM1YTJjYjM5MDQwNzhjYzQ5MmQzMjMxY2I2ZmQyNmIyZGY3Y2QzYjAzNWQxZjI2MjJhIn0=
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<div class="about-us">
{% section 'page-template' %}
</div>