{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2022-01-18T16:25:22+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  147891
//      Project:        310
//      Environment:    1410 - qa-testing
//      MD5:            f31424f7eed2b478683baf051f4a7a0d
//      Signature:      eyJpdiI6IlhsYXB1MFpld3l1RGZmZHRsck1QVHc9PSIsInZhbHVlIjoiMmFLQU9TRnd5N2xcLzQxTWVxTGdqU2luV1pKUXNuSkxwdHBMUVJkOFpcL21rVFAwcFNaVlR4XC93UkRxVnpPRFFlbzhZM0pySFwvOUt0UzB4R1wvc2tFckI5dGF6SEx1WUtGTjIxNmJsTExoN09wcGg0ZTh0cnRSYk5yRGEzSzdcLzZSTWhjbnU4RDZMWFU0c1wvZ2JITHNSU1RpVldLXC91NG1zSmt2d0hSMENxTmhBSzdpMFVQcjNBSm1ET3dJZ1Z2ZGtrOHdBeWtocFwvNHhIeWdOSnMwQVZsSlFHZGhXdUVBRUpwYTlBcHVHdXZKcVZOb0lJRWRIUmZkbFZSU2Y3bWlOdWZQZ0FOQVU2dVZ5cDYxV1hQUXA4OXBQSld1S0ZYeEhOcUtRbktnVHRXYnkxWW5qT01kbTNmc1dBVG8rWUx4eURweHZvYktnSDBjTFwvMlpWMmlJVXc5b0tlMGVwYnBwWjFHczkwTUwrSkhGSFlPTUk3bTZ0Y08rSm8yc2RmYmtNdVJQM2NxVXRWMUJYUE1CWjdsQlBLK1M3NCtDS09RNnpJVUhpNFFYZ3lpdTFJSlU9IiwibWFjIjoiMTEzZjZkMDM1OWIzYWExMmU5YjM1Mzk3NGFlMTlhZGNhZTZlMGU4OTRlOGQ0ZTQyYzZhYWNjMGI3ZWMyMDNlMyJ9
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<section class="title">
    <h1>{{ page.title }}</h1>
</section>
<section class="content">
    {{ page.content }}
    {% include 'wishl-wishlist' %}
</section>
